<html>
    <head>
     <meta charset="UTF-8">
     <link rel="stylesheet" href="/css/header.css">
     <link rel="stylesheet" href="/css/addResults.css">
     <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="/JavaScripts/javascripts.js"></script>
       
    </head>
    <body>
              
        {% if validationErrors is defined %}
    {% for item in validationErrors %}
        <p>{{ item }}</p>
    {% endfor %}
    {% endif %}

    <div class ="header">
        <nav>
            <ul>
                <li><a href ="{{ url('addResults') }}">Dodaj Wyniki</a></li>
                <li><a href ="{{ url('ranking') }}">Ranking</a></li>
                <li><a href ="">Nagrody</a></li>
                <li><a href ="{{ url('logout') }}">Wyloguj się</a></li>
            </ul>
        </nav>
    </div>
    <div class ="content">
        <div class ="form">
            <form method ="POST">
                <div class ="nrMatch">
                    {% if match != null %}
                        <div class ="matchText">Dodajesz Wyniki do meczu nr</div>
                        <div class ="matchNr"></div><div><input type ="text" onchange ="userHasAddedMatch()" id="nrMatch" value ="{{ match.matchNr }}" name ="matchNr"></div>
                    {% elseif lastMatch!=null %}
                    <div class ="matchText">Dodajesz Wyniki do meczu nr</div>
                    <div class ="matchNr"></div><div><input type ="text" onchange ="userHasAddedMatch()" id="nrMatch" value ="{{ lastMatch.matchNr + 1}}" name ="matchNr"></div>
                    {% else %}
                    <div class ="matchText">Dodajesz Wyniki do meczu nr</div>
                    <div class ="matchNr"></div><div><input type ="text" onchange ="userHasAddedMatch()" id="nrMatch" value ="1" name ="matchNr"></div>
                    {% endif %}
                </div>
                {% set i = 0  %}
                {% for user in users%}
                    <div class ="user"></div><div><input type ="text" id ="{{ user.login }}" name ="user {{ i }}" value="{{ user.login }}" readonly></div>
                    <div class ="inputResult">
                        <div class ="inputTitle">
                            <div class = "inputTitles">Punkty</div>
                            <div class ="inputTitles">Piwa</div>
                            <div class ="inputTitles">Żetony</div>
                        </div>
                        <div class ="inputValue">
                            <div class = "inputValues"><input type="text" id="points{{ i }}" name ="points {{ i }}"></div>
                            <div class ="inputValues"><input  type="text" id="beers{{ i }}" name ="beers {{ i }}" ></div>
                            <div class = "inputValues"><input type ="text" id="tokens{{ i }}" name ="tokens {{ i }}"></div>
                        </div>   
                    </div>
                        {% set i = i+1 %}  
                {% endfor %}
                <!--<div class ="flagUpdate"><div><input type ="hidden" id="flagUpdate" name ="flagUpdate" value=0></div></div>-->
                <div class ="savebtn"><input id ="savebtn" type ="submit" name ="flagUpdate" value="Zapisz"></div>
                <div class ="updatebtn"></div>
            </form>
                
        </div>
        {% if resultForUserAdded != null %}
        {{ resultForUserAdded }}
        {% endif %}
        
        <div id ="ResultForUserExist"></div>
    </div>

    </body>
</html>
