<html>
    <head>
     <meta charset="UTF-8">
     <link rel="stylesheet" href="/css/header.css">
     <link rel="stylesheet" href="/css/rankingCss.css">
    </head>
    <body>            
        <div class ="header">
            <nav>
                <ul>
                    <li><a href ="{{ url('addResults') }}">Dodaj Wyniki</a></li>
                    <li><a href ="{{ url('ranking') }}">Ranking</a></li>
                    <li><a href ="">Nagrody</a></li>
                    <li><a href ="{{ url('logout') }}">Wyloguj się</a></li>
                </ul>
            </nav>
        </div>
        <div class ="content">
        {% for userRanking in ranking %}
            <div class = "userRanking">
                <div class = "userScore"><div class ="user"><div class ="number">{{ loop.index }}.</div><div class ="userlogin">{{ userRanking.user.login }}</div></div>      
                    <div class = "score">{{ userRanking.points }} pkt</div>
                </div>        
                <div class ="beersTokens">{{ userRanking.beers }} piw /{{ userRanking.tokens }}</div>            
            </div>
        {% endfor %} 
        </div>
    </body>
</html>

