<html>
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> !-->
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/showAllResults.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/JavaScripts/javascripts.js"></script>

</head>
<body>
{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('test') }}
{{ encore_entry_script_tags('ShowAllResults') }}
{{ encore_entry_script_tags('ShowMainPage') }}

<script>
    function changeCheckBox(id) {
        var elements = document.getElementsByClassName('checkMatchType');
        for (let i = 0; i <= elements.length - 1; i++) {
            if (elements[i].id != id) {
                elements[i].checked = false;
            }
        }
    }

    function checkIfBothAreNotChecked(className) {
        var elements = document.getElementsByClassName(className);
        for (var i = 0; i < elements.length; i++) {
            if (elements[i].getAttribute('value') == '1') {
                return false;
            }
        }
        return true;
    }

    function changeColor(id) {
        var element = document.getElementById(id);
        var elementsClass = document.getElementsByClassName('btnTypeMatch');
        var bothNotChecked = checkIfBothAreNotChecked('btnTypeMatch');

        for (var step = 0; step < elementsClass.length; step++) {
            if (elementsClass[step].getAttribute('id') == id && !bothNotChecked) {
                if (elementsClass[step].getAttribute('value') == '0') {
                    elementsClass[step].setAttribute('value', '1');
                    elementsClass[step].setAttribute('id', elementsClass[step].getAttribute('id').concat('Checked'));
                    document.getElementById('matchType').setAttribute('value', elementsClass[step].getAttribute('id'));
                } else {
                    elementsClass[step].setAttribute('value', '0');
                    elementsClass[step].setAttribute('id', elementsClass[step].getAttribute('id').replace('Checked', ''));
                }
            } else if (elementsClass[step].getAttribute('id') != id && !bothNotChecked) {
                if (elementsClass[step].getAttribute('value') == '0') {
                    elementsClass[step].setAttribute('value', '1');
                    elementsClass[step].setAttribute('id', elementsClass[step].getAttribute('id').concat('Checked'));
                    document.getElementById('matchType').setAttribute('value', elementsClass[step].getAttribute('id'));
                } else {
                    elementsClass[step].setAttribute('value', '0');
                    elementsClass[step].setAttribute('id', elementsClass[step].getAttribute('id').replace('Checked', ''));

                }
            }
            if (bothNotChecked) {

                if (elementsClass[step].getAttribute('id') == id) {
                    elementsClass[step].setAttribute('value', '1');
                    elementsClass[step].setAttribute('id', elementsClass[step].getAttribute('id').concat('Checked'));
                    document.getElementById('matchType').setAttribute('value', elementsClass[step].getAttribute('id'));
                }
            }
        }
    }

    function getUsersToMatch() {

    }

    $(document).ready(function () {

    })

</script>

<div class="header">
    <nav>
        <ul>
            <li><a href="{{ url('addResults') }}">Dodaj Wyniki</a></li>
            <li><a href="{{ url('ranking') }}">Ranking</a></li>
            <li><a href="">Nagrody</a></li>
            <li><a href="{{ url('logout') }}">Wyloguj się</a></li>
        </ul>
    </nav>
</div>

<div class="content">
    <div id="mainPageShow">

        <mainpage matches = {{ matches  }}> </mainpage>
    </div>
    <div id="app">
        <Application/>
    </div>

    <div id = "test">
        <!--<Test/> !-->
    </div>

<!--
    <table>
        <tr>
            <th></th>
            <th>Nr meczu</th>
            <th>Data Meczu</th>
            <th>Typ Meczu</th>
            <th>Liczba Żetonów</th>
            <th>Liczba Punktów</th>
            <th>Liczba Piw</th>
            <th></th>
        </tr>

        {% for match in matches %}
        <tr id= {{ match.matchId }}>
            <td></td>
            <td>{{ match.matchNr }}</td>
            <td>{{ match.dateOfMatch }}</td>
            <td onclick='getUsersToMatch();'> Informacje o meczu</td>
            {% for user in users %}
                <tr>
                    <td>{{ user.login }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% for matchPlayer in match.matchPlayers %}
                        {% if user.id == matchPlayer.user.id %}
                            <td>{{ matchPlayer.tokens }}</td>
                            <td>{{ matchPlayer.points }}</td>
                            <td>{{ matchPlayer.beers }}</td>
                            <td>Edytuj Rekord</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
!-->
</div>
</body>
</html>


<script>
        import MainPage from "../../assets/MainPage";
        var matches = JSON.parse('{{ matches|escape('js') }}');
        var test = JSON.parse('{{ test|escape('js') }}');
        var test2 = 133;

    import Application from "../../assets/Application";
    import Test from "../../assets/Test";
    import mainpage from "../../assets/MainPage";

    export default {
        components: {
            MainPage,
            Application,
            Test
        }
    }
</script>